<!-- <h2 class="modal-title" id="exampleModalLongTitle" style="font-weight: 700;">나혼자 못산다</h2> -->
<div style="text-align: left; margin-left: 80px; margin-right: 80px;">

  <img src="{{ site.baseurl }}/img/portfolio/portfolio1/IMG_portfolio1_title.jpg" style="max-width: 100%; height: auto; display: block; margin: auto;">
  <img src="{{ site.baseurl }}/img/portfolio/portfolio1/IMG_portfolio1_summury2.jpg" style="max-width: 100%; height: auto;">
  <img src="{{ site.baseurl }}/img/portfolio/portfolio1/IMG_portfolio1_summury6.jpg" style="max-width: 100%; height: auto;">
  <img src="{{ site.baseurl }}/img/portfolio/portfolio1/IMG_portfolio1_summury4.jpg" style="max-width: 100%; height: auto;">



  <a href="https://github.com/hamyongjae/Spring_project1_Oracle">https://github.com/hamyongjae/Spring_project1_Oracle</a><br>
  <a href="https://github.com/hamyongjae/Spring_project1_MariaDB">https://github.com/hamyongjae/Spring_project1_MariaDB</a><br><br>

  <h3 class="temp-h3-500">Web Client</h3>
  <ul class="temp-ul">
    <li>Web Client 기술 구조</li>
    <li>HTML5 기반 Web 표준 기술 구현</li>
    <li>CSS3.0을 이용한 화면 구현</li>
    <li>JavaScript 기술을 이용한 Dynamic Web 구현</li>
    <li>jQuery 및 AJAX를 이용한 비동기 통신 구현</li>
    <li>지속 관리를 위한 AWS 서버 배포</li>
  </ul>
  <h2 style="font-weight: 500;">Web Server</h3>
    <ul class="temp-ul">
      <li>JSP & Servlet 시스템 구조를 이용한 Web Application 개발</li>
      <li>Spring MVC Model을 이용한 Spring Framework</li>
      <li>Web Client와의 연동 개발</li>
      <li>JDBC를 이용한 DB 연동 ORM 기술</li>
      <li>Spring Transaction 및 Message Service 개발</li>
    </ul>
    <h2 style="font-weight: 500;">상세내용</h3><br>
      <ul style="font-size: 1.2em;">
        <li>찾고자 하는 Acitity에 대한 각각의 키워드와 날짜로
          검색 시 네이버API를 활용하여 가까운 거리 순으로 추천</li>
        <li>Login : 로그인 (DB와 연동 확인, 로그인 기록 저장)</li>
        <li>Logout: 로그아웃 (main 페이지로 이동)</li>
        <li>Register : 회원가입 (사용자에 대한 위도 경도 저장</li>
        <li>Main : 각종 리뷰, 추천 Activity 구현</li>
        <li>Travel : 여행관련 동행 페이지(여행 장소, 기간, 인원 등)</li>
        <li>Dining : 식사관련 동행 페이지 (식사 장소, 기간, 인원 등)</li>
        <li>Culture/Arts : 문화,예술 관련 동행 페이지 (Activity 장소, 기간, 인원 등)</li>
        <li>Sports : 스포츠 관련 동행 페이지 (Activity 장소, 기간, 인원 등)</li>
        <li>Wishlist : 즐겨 찾기 기능과 각 유저의 위시리스트 관리</li>
      </ul>

      <div style="text-align: center">
        <h2 style="font-weight: 500;">데이터베이스 구조 (ERD)</h3><br>
          <img src="{{ site.baseurl }}/img/portfolio/portfolio1/IMG_portfolio1_ERD.jpg" style="max-width: 100%; height: auto;">
          <h2 style="font-weight: 500;">화면 설계 (Flow chart)</h3><br>
            <img src="{{ site.baseurl }}/img/portfolio/portfolio1/IMG_portfolio1_FlowChart.jpg" style="max-width: 100%; height: auto;">
            <br>
            <h2 style="font-weight: 500;">기능 테이블</h3><br>
              <img src="{{ site.baseurl }}/img/portfolio/portfolio1/IMG_portfolio1_table1.jpg" style="max-width: 100%; height: auto;">
              <br>

              <h2 style="font-weight: 600;">상세 동작</h3><br>
                <h3 style="font-weight: 500;"> - 회원가입</h3><br>
                <img src="{{ site.baseurl }}/img/portfolio/portfolio1/IMG_portfolio1_signup.jpg" style="max-width: 100%; height: auto;">
                <br>
                <h3 style="font-weight: 500;"> - Travel</h3><br>
                <img src="{{ site.baseurl }}/img/portfolio/portfolio1/IMG_portfolio1_travel1.jpg" style="max-width: 100%; height: auto;">
                <img src="{{ site.baseurl }}/img/portfolio/portfolio1/IMG_portfolio1_travel2.jpg" style="max-width: 100%; height: auto;">
                <br>
                <h3 style="font-weight: 500;"> - Dining</h3><br>
                <img src="{{ site.baseurl }}/img/portfolio/portfolio1/IMG_portfolio1_dinning1.jpg" style="max-width: 100%; height: auto;">
                <img src="{{ site.baseurl }}/img/portfolio/portfolio1/IMG_portfolio1_dinning2.jpg" style="max-width: 100%; height: auto;">
                <br>
                <h3 style="font-weight: 500;"> - Sports</h3><br>
                <img src="{{ site.baseurl }}/img/portfolio/portfolio1/IMG_portfolio1_sports.jpg" style="max-width: 100%; height: auto;">
                <br>
                <h3 style="font-weight: 500;"> - Culture & Art</h3><br>
                <img src="{{ site.baseurl }}/img/portfolio/portfolio1/IMG_portfolio1_culture.jpg" style="max-width: 100%; height: auto;">
                <h3 style="font-weight: 500;"> - Wishlist</h3><br>
                <img src="{{ site.baseurl }}/img/portfolio/portfolio1/IMG_portfolio1_wishlist.jpg" style="max-width: 100%; height: auto;">
      </div>

</div>