<div style="text-align: left; margin-left: 80px; margin-right: 80px;">

    <h3 class="temp-h3-700">블루투스와 Wifi무선통신을 이용한 Smart button</h3><br>

    <h3 class="temp-h3-500">국문요약</h3>

        <h3>유무선 인터넷을 통해 가전제품을 제어하고 기기 간 콘텐츠를 공유할 수 있는 기술이 최근 네트워크의 발달에 기인하여 빠르게 발전하고 있다.  최근 기하 급수적으로 많은 스마트폰의 등장에 따라 다양한 어플리케이션이 많이 등장하고 있고, 그에 연결된 많은 IOT 제품이 등장하고 가정환경에 급속도로 확산되고 있다. 이렇듯 현재 우리 사회는 IOT와 함께 발전하고 있다. IOT분야의 성장이 현대인들의 생활에 영향을 미치게 되고, 생활에 있어 불편한 부분이나 바라는 부분이 IOT를 통해 해결이 되는 등 다양한 형태로 보이고 있다. IOT 디바이스는 다양한 환경에서 정보를 수집하고 분석하여 사용자에게 유용한 정보를 제공하는 역할을 수행한다. IOT 디바이스 증가로 인하여, 가격이 저렴하고 사용하기 쉬운 하드웨어와 소프트웨어 기반의 오픈 소스 플랫폼들이 많이 개발되어 제공되고 있다. 점차 사람들은 편리성을 추구하게 되고, 이에 부응하는 시스템 개발이 활발하게 진행되고 있다. 이와 같이 본 논문에서도 블루투스 무선통신(Bluetooth)을 이용해 다양한 기능을 제어하며, 편리성과 실용성을 추구하는 스마트버튼을 개발하게 되었다. 블루투스를 사용한 이유는 디바이스를 사용하기 위해 고려해야 할 문제들 중에 전력문제와 휴대성문제를 감안했을 때 블루투스 무선통신이 가장 적합하다고 판단하게 되었고, 실제로 블루투스 모듈(HC-06)을 구매하여 연결 할 때의 딜레이, 전력 등 성능적인 측면을 고려했을 때 가장 효율성이 높다고 생각되어 최종 적용하게 되었다.
        본 연구에서는 일상생활에서 불편함을 느낄 법한 여러가지 상황을 떠올려 봤을 때 불편함을 가장 많이 해소할 수 있고, 실현 가능성 있는 기능을  제어할 수 있도록 구현하였다, 버튼을 누르면 블루투스 무선통신을 통해 휴대폰 조명이 ON/OFF 되거나, 비상전화가 걸리거나, 음악이 ON/OFF 되는 기능을 구현하였고, 뿐만 아니라, 스마트 플러그를 별도로 제작하여 휴대폰을 통해 콘센트에서 사용되는 전기를 제어할 수 있는 기능을 구현함으로써, 사람이 직접 움직이지 않고, 원격제어를 통해 불필요한 움직임을 줄일 수 있는 디바이스 제작을 목표로 하였다. 본 논문에서는 안드로이드 플랫폼을 기반으로 자바언어를 이용해 어플리케이션을 만들어 구현하였고, 스마트버튼 디바이스는 아두이노(Arduino)를 활용해 버튼의 모형과 회로도를 구성하였고 플러그의 디바이스는 실제 가정용 플러그(220V)를 구매해 재조립하여 제작하였다.</h3>
        
    <img src="{{ site.baseurl }}/img/portfolio/portfolio2/IMG_portfolio3_1.jpg" style="max-width: 100%; height: auto;"><br><br><br>


    
</div>