<div style="text-align: left; margin-left: 80px; margin-right: 80px;">

    <h3 class="temp-h3-700">블루투스와 Wifi무선통신을 이용한 Smart button</h3><br>

    <h3 class="temp-h3-500">국문요약</h3>

        <h3>본 연구에서는 일상생활에서 불편함을 느낄 법한 여러가지 상황을 떠올려 봤을 때 불편함을 가장 많이 해소할 수 있고, 실현 가능성 있는 기능을  제어할 수 있도록 구현하였다, 버튼을 누르면 블루투스 무선통신을 통해 휴대폰 조명이 ON/OFF 되거나, 비상전화가 걸리거나, 음악이 ON/OFF 되는 기능을 구현하였고, 뿐만 아니라, 스마트 플러그를 별도로 제작하여 휴대폰을 통해 콘센트에서 사용되는 전기를 제어할 수 있는 기능을 구현함으로써, 사람이 직접 움직이지 않고, 원격제어를 통해 불필요한 움직임을 줄일 수 있는 디바이스 제작을 목표로 하였다. 본 논문에서는 안드로이드 플랫폼을 기반으로 자바언어를 이용해 어플리케이션을 만들어 구현하였고, 스마트버튼 디바이스는 아두이노(Arduino)를 활용해 버튼의 모형과 회로도를 구성하였고 플러그의 디바이스는 실제 가정용 플러그(220V)를 구매해 재조립하여 제작하였다.</h3>
    
        <img src="{{ site.baseurl }}/img/portfolio/portfolio3/IMG_portfolio3_1.jpg" style="max-width: 100%; height: auto;"><br><br><br>
        <h3><strong>[그림1] 작품 구상도</strong></h3>



    
</div>